
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Not authorized</title>
<link rel="stylesheet" type="text/css" href="/zd_web_/css/main.css">
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper"><a class="logo" href="/"></a>
  <div id="main">
    <header id="header">
      <h1><span class="icon">!</span><span class="sub">Not authorized</span></h1>
    </header>
    <div id="content">
      <h2>Not authorized(未授权访问本资源)</h2>
    
      <div class="utilities">
        <form  name="formsearch" action="/plus/search.php" id="formkeyword">
          <div class="input-container">
            
          </div>
        </form>
        <a class="button right" href="#" onClick="history.go(-1);return true;">联系管理</a><a class="button right" href="http://localhost:8080/zd_web_/">网站首页</a>
        <div class="clear"></div>
      </div>
    </div>
    <div id="footer">
      <ul>
        <li><a href="http://localhost:8080/zd_web_/">网站首页</a></li>
      </ul>
    </div>
  </div>
</div>
</html>