<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>个人信息</title>
<link href="/zd_web_/staff/css/style.css" rel='stylesheet' type='text/css' media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Stylish Deco Profile Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<script type="text/javascript" src="/zd_web_/Handlebars/handlebars-v4.0.5.js"></script>
<script src="/zd_web_/js/jquery-1.11.1.min.js"></script>
  <script src= "/zd_web_/staff/js/moment-2.2.1.js"></script>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,700italic,300italic,400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
<!--/webfonts-->
</head>
<body>
	<div class="wrap">
	<header>
		<h1>员工界面</h1>
	</header>
		<div class="profile">
			<div class="user">
				<div class="star"> </div>
				<div class="men">
				<img src="/zd_web_/staff/images/user.png" alt="" />
				</div>
				<div class="pencil"> </div>
					<div id="dd1" class="wrapper-dropdown-3" tabindex="1">
	<span><img src="/zd_web_/staff/images/menu.png" alt="Navbar"/></span>
			<ul class="dropdown">
				<li><a href="#">Alarm</a></li>
				<li><a href="#">Dual Clock</a></li>
				<li><a href="#">Notes</a></li>
				<li><a href="#">Reminder</a></li>
				<li><a href="#">To-Do List</a></li>
				<li><a href="#">World Clock</a></li>
			</ul>
			<script type="text/javascript">
				function DropDown(el) {
				this.dd = el;
				this.initEvents();
				}
				DropDown.prototype = {
				initEvents : function() {
				var obj = this;					
				obj.dd.on('click', function(event){
				$(this).toggleClass('active');
				event.stopPropagation();
				});	
				}
				}
				$(function() {
				var dd = new DropDown( $('#dd1') );
				$(document).click(function() {
				// all dropdowns
				$('.wrapper-dropdown-3').removeClass('active');
				});
				});
			</script>
			</div>
			<div id="list" class="clear"> 
			
			</div>
			
			</div>
		</div>
		<div class="sub-profile">
			<div class="sp1">
				<div class="phone">
					<img src="/zd_web_/staff/images/ph.png" alt=""/>
				</div>
				<div class="ph-text">
					<span>员工编号</span>
					<p></p>
				</div>
				<script id="people-template" type="text/x-handlebars-template">
                {{#people}}
				<div class="person">
					<img src="images/msg.png" alt=""/>
				</div>
				<div class="clear">{{username}} </div>
			</div>
              {{/people}}
             </script>
			<div class="sp2">
				<div class="mail">
					<img src="/zd_web_/staff/images/mail.png" alt=""/>
				</div>
				<div class="mail-text">
					<span>E-mail</span>
					<p><a href="mailto:example@mail.com">example@mail.com</a></p>
				</div>
				<div class="clip">
					<img src="/zd_web_/staff/images/clip.png" alt=""/>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="social">
		<ul>
			<li><a href="#"><span class="fb"></span></a></li>
			<li><a href="#"><span class="twit"></span></a></li>
			<li><a href="#"><span class="google"></span></a></li>
			<li><a href="#"><span class="link"></span></a></li>
			</ul>
			<div class="clear"> </div>
	</div>
		<div class="footer">
			<p>Copyright © 2015 Stylish Deco Profile. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
		</div>
		
<script type="text/javascript">
$(document).ready(function(){
	  alert("执行渲染");
	var template =Handlebars.compile($("#people-template").html());
	
	$.ajax({
		 url:'http://localhost:8080/zd_web_/admin/welcome_admin',
		 dataType:'json',
		 success:function(data){
			
			 $('#list').html(template(data));
		 }
	});
}) 
</script>		
</body>
</html>